#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk

%:
	dh $@ --buildsystem=meson --without autoreconf,autotools-dev

override_dh_update_autotools_config:
	# pass

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dsystemd_systemunitdir=/lib/systemd/system \
		-Dlibsystemd=enabled \
		-Dinstalled_tests=true \

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
